@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,500;6..12,600;6..12,700;6..12,800;6..12,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../images/star_sky.jpg);
}

.bgfone {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.664);
}

.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px;
}

h1 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 70px;
    font-weight: 800;
    color: rgb(221, 36, 36);
}

.description {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(165, 165, 165);
    font-size: 20px;
    margin: 30px 0 0 0;
}

form {
    margin: 50px;
}

#inp {
    width: 300px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.521);
    border-width: 1px;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    color: white;
}

button {
    width: 80px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.445);
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 105, 105);
    border-color: rgba(221, 36, 36, 0.664);
    border-width: 1px;
    border-radius: 5px;
}

#count {
    width:60px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.788);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    border-radius: 5px;
    color: rgb(255, 105, 105);
    border-color: rgba(221, 36, 36, 0.664);
    border-width: 1px;
}

#output {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    margin-bottom: 40px;
}

iframe {
    border-radius: 10px;
    border-width: 2px;
    border-color: rgba(0, 0, 0, 0.534);
}

#output h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: rgb(165, 165, 165);
}